@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

header {
  position: fixed;
  top: 0;
  height: 14vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  background-color: #0b0b0c;
  z-index: 1000;
}

main {
  background-color: #0b0b0c;
}

#logo-marca {
  max-height: 135px;
  max-width: 135px;
  margin-left: 25px;
}

#icone-menu {
  margin-right: 25px;
}

#menu-desktop {
  display: none;
}

#inicio {
  padding-top: 200px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  height: auto;
}

.inicio-textos {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

h1 {
  margin-left: 30px;
  font-weight: 500;
  line-height: 30px;
}

.inicio-paragrafo {
  margin-left: 30px;
  font-size: 0.9rem;
}

#botoes-iniciais {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}

.botao-inicio {
  width: 140px;
  height: auto;
  border: none;
  background-color: transparent;
}

.botao-inicio > p {
  text-align: center;
}

#link-perfil-linkedin {
  padding: 5px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 3px;
  color: white;
  font-family: "Poppins", sans-serif;
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(to right, #47184b, #47184b, #11264d);
  border-image-slice: 1;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background: linear-gradient(to right, #47184b, #47184b, #11264d);
  }
}

#link-perfil-github {
  padding: 5px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 3px;
  color: white;
  font-family: "Poppins", sans-serif;
  border: 2px solid #11264d;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #11264d;
  }
}

#botao-linkedin {
  width: 25px;
}

#logo-linkedin,
#logo-github {
  width: 1.5rem;
}

#titulo-principal {
  font-size: 1.7rem;
  background: linear-gradient(to right, #47184b, #11264d);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

#imagem-inicio {
  width: 300px;
}

#sobre-mim {
  margin: 40px 20px 0 20px;
  display: flex;
  flex-direction: column;
  background-color: #161616;
  font-family: "Poppins", sans-serif;
  color: white;
}

#titulo-sobre-mim {
  margin: 30px 0 10px 20px;
  padding-left: 5px;
  border-left: 3px solid #6a2171;
  text-align: left;
  font-size: 1.5rem;
  font-weight: 600;
  background: linear-gradient(to right, #6a2171, #193e82);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  /*color: #7a1c83cf;*/
}

.sobre-mim-trecho {
  padding: 0 20px;
  text-align: left;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 0.8rem;
}

.sobre-mim-paragrafo {
  padding: 10px 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #dfdfdf;
}

#destaque-nome {
  color: #133d8b;
  font-weight: 500;
}

#sobre-mim-img {
  width: 250px;
}
