@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

header {
  position: fixed;
  top: 0;
  z-index: 1000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 14vh;
  background-color: #0b0b0c;
  border-bottom: 1px solid #0000008a;
}

main {
  background-color: #0b0b0c;
}

#logo-marca {
  max-width: 135px;
  max-height: 135px;
  margin-left: 25px;
}

#menu-icon {
  margin-right: 25px;
}

#menu-desktop {
  display: none;
}

#start {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  height: auto;
  margin-bottom: 50px;
  padding-top: 200px;
  font-family: "Poppins", sans-serif;
  color: white;
}

.start-texts {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

h1 {
  margin-left: 30px;
  font: 600 1.7rem;
  line-height: 30px;
}

#start-main-title {
  font-size: 1.8rem;
  color: transparent;
  background: linear-gradient(to right, #47184b, #11264d);
  background-clip: text;
  -webkit-background-clip: text;
}
.start-paragraphs {
  margin-left: 30px;
  font-size: 0.9rem;
}

#start-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.initial-buttons > p {
  text-align: center;
}

#button-linkedin {
  width: 40vw;
  height: auto;
  background: linear-gradient(to right, #47184b, #47184b, #11264d);
  border: transparent;
  border-radius: 5px;
}

#button-github {
  width: 40vw;
  height: auto;
  background-color: #11264d;
  border: transparent;
  border-radius: 5px;
}

#link-profile-linkedin {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3px;
  padding: 10px;
  font-family: "Poppins", sans-serif;
  color: white;
  border-width: 2px;
  border-style: none;
  border-image: linear-gradient(to right, #47184b, #47184b, #11264d);
  border-image-slice: 1;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#link-profile-github {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3px;
  padding: 10px;
  font-family: "Poppins", sans-serif;
  color: white;
  border: 2px none #11264d;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#logo-linkedin,
#logo-github,
#logo-instagram {
  width: 1.5rem;
}

#start-image {
  width: 300px;
}

#about-me {
  display: flex;
  flex-direction: column;
  margin: 40px 20px 60px 20px;
  font-family: "Poppins", sans-serif;
  color: white;
  background-color: #161616;
  border-radius: 3px;
}

#about-me-title {
  margin: 30px 30px 0 20px;
  padding-bottom: 5px;
  font-size: 1rem;
  font-weight: 700;
  color: #6a2171;
  text-align: left;
  border-bottom: 2px solid #6a2171;
}

.about-me-snippet {
  padding: 10px 20px;
  font: 300 0.8rem "Poppins", sans-serif;
  color: #dfdfdf;
  text-align: left;
}

.about-me-paragraphs {
  padding: 10px 20px;
  font: 400 "Poppins", sans-serif;
  color: #bbb8b8;
}

#feature-name {
  color: #193e82;
}

.emphasis-tools {
  font-weight: 500;
  font-style: normal;
  text-decoration: underline;
}

#about-me-container-images {
  display: flex;
  justify-content: center;
}

#about-me-image {
  width: 250px;
  margin: 25px 0;
  background-color: #0b0b0c;
}

#about-me-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

#button-instagram {
  width: 50vw;
  height: auto;
  background: linear-gradient(to right, #47184b, #47184b, #11264d);
  border: transparent;
  border-radius: 5px;
}

#link-profile-instagram {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3px;
  padding: 10px;
  font-family: "Poppins", sans-serif;
  color: white;
  border-width: 2px;
  border-style: none;
  border-image: linear-gradient(to right, #47184b, #47184b, #11264d);
  border-image-slice: 1;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#my-project-title {
  font-family: "Poppins", sans-serif;
  color: white;
  text-align: center;
}

.project-card {
  width: 100%;
  padding: 20px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.project-card img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.project-card h3 {
  margin-top: 10px;
}

.project-card p {
  margin-top: 5px;
  color: #888;
}
